.bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 100vh;
}
.login-container {
  width: 25%;
  background-color: #272727;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-logo {
  margin-bottom: 30px;
  width: 100px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.label {
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Roboto';
  margin-top: 10px;
}
.input {
  border: 1px solid #64748b;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 10px;
}
.login-btn {
  background-color: #4f46e5;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}
