.navDiv {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding: 15px 0px 25px 0px;
}
.nav-mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .nav-mobile-container {
    display: none;
  }
}
.logo {
  width: 90px;
  margin-top: 12px;
}
@media screen and (min-width: 767px) {
  .logo {
    width: 125px;
  }
}
.listDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .listDiv {
    display: none;
  }
  .nav-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav-desktop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}
@media screen and (max-width: 767px) {
  .nav-desktop-container {
    display: none;
  }
}
.list-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}
.link-style {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 12px 42px;
}
@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}
.nav-mobile-icons {
  display: flex;

  align-items: center;
  list-style-type: none;
}
.nav-mobile-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-mobile-link {
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
}
@media screen and (min-width: 767px) {
  .nav-item-mobile-link {
    display: none;
  }
}
